<style>
   

    .categoryList {
        list-style-type: none;
        color:black;
        padding:10px !important;
    }
    .categoryListUl {
        list-style-type: none;
        padding:10px !important;
    }
    .SidertextSize{
        font:14px,arial,sans-serif;
    }
    .pd10{
        padding:10px;
    }
    .rateFillColor{
        color: #FF9529;
    }
    .fontSize20{
        font-size:20px;
    }
</style>
<nz-layout style="background:white;">
   

    <nz-layout>
      
        <nz-content style="margin-left:10px;" id="contentDiv">

            <div nz-row nzJustify="center">
        
                <nz-breadcrumb nzSeparator=">" class="breadCrumb">
                <nz-breadcrumb-item>
                    <strong>Products Filtered By : </strong>
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>
                    <strong>{{productCategory}},{{productSubCategory}} and Maximum Price {{maxPrice}}</strong>
                </nz-breadcrumb-item>
                </nz-breadcrumb>
        
            </div>

            <div nz-row *ngIf="countInitialProducts > 0" id="products">
                <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6" nzXl="4" *ngFor="let product of products" class="pd10">
                    <nz-card [nzBordered]="true" nzHoverable style="height:100% !important">

                        <div nz-row nzJustify="center" *ngIf="product.discount">
                            <a href="specialOfferProduct/{{product._id}}"><img class="card-img-top" height="150px" width="150px"
                            [src]="'./../assets/images/productImages/'+product.images[0]" /></a><br>
                        </div>
                
                        <div nz-row nzJustify="center" *ngIf="!product.discount">
                            <a href="product/{{product._id}}"><img class="card-img-top" height="150px" width="150px"
                            [src]="'./../assets/images/productImages/'+product.images[0]" /></a><br>
                        </div>

                      
                        
                      

                                  <div  *ngIf="product.discount">
                                    <a href="specialOfferProduct/{{product._id}}">{{product.productName | uppercase}}</a>
                                    <p><a href="specialOfferProduct/{{product._id}}">{{((product.description) > 2)? (product.description):((product.description | slice:0:2)+'..')}}</a></p>
                                  </div>
                      
                                  <div *ngIf="!product.discount">
                                    <a href="product/{{product._id}}">{{product.productName | uppercase}}</a>
                                  </div>

                                <div class="product-price" *ngIf="product.discount">
                                    <p>
                                        <strong> ETB </strong>
                                        <span nz-typography nzType="danger"> {{product.discount}} <del>{{product.price}}</del></span>
                                        <span  *ngIf="product.measurement"> / {{product.measurement}}</span>
                                        <br>{{product.minOrder}} (min.Order)
                                    </p>

                                  </div>
                                  <div class="product-price" *ngIf="!product.discount">
                                    <p>
                                        <strong> ETB </strong><span nz-typography nzType="danger"> {{product.price}}</span>
                                        <span  *ngIf="product.measurement"> / {{product.measurement}}</span>
                                        <br>{{product.minOrder}} (min.Order)
                                    </p>
                                  </div>

                              

                            


                                  <div nz-row>
                                    <div nz-row *ngIf="productRateValue(product._id).length != 0">

                                        <i nz-icon nzType="star" nzTheme="fill" 
                                        class="rateFillColor" *ngFor="let n of productRateValue(product._id);let i = index;"></i>
            
                                        
                                       <i nz-icon nzType="star" nzTheme="outline" 
                                        class="rateFillColor" *ngFor="let n of (noRateValue());let i = index;"></i>
            
                                        <!--
                                            <i nz-icon nzType="star" nzTheme="outline" 
                                        class="rateFillColor" *ngFor="let n of (5);let i = index;"></i>
                                        -->
                                        
                                    </div>
            
                                    <div nz-row *ngIf="productRateValue(product._id).length == 0">
                                        <i nz-icon nzType="star" nzTheme="outline" 
                                        class="rateFillColor" *ngFor="let n of [0,1,2,3,4];let i = index;"></i>
                                    </div>
                                    
                                    <div style="text-align: end;">
                                        
                                        <a nz-button nzType="link" (click)="addProductToWishlist(product._id)" 
                                            ><i nz-icon
                                                nzType="heart" nzTheme="outline"
                                                style="color: hotpink;"></i></a>
                                    </div>
                                    
                                </div>
                    </nz-card>
                   
                </div>
            </div>

            <div nz-row nzJustify="center" *ngIf="!(countInitialProducts > 0)">
                <h2>No Product Found!!!</h2>
            </div>

            <div nz-row>
                <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6" nzXl="4" *ngFor="let product of moreProducts" class="pd10">
                    <nz-card [nzBordered]="true" nzHoverable style="height:100% !important">

                        <div nz-row nzJustify="center" *ngIf="product.discount">
                            <a href="specialOfferProduct/{{product._id}}"><img class="card-img-top" height="150px" width="150px"
                            [src]="'./../assets/images/productImages/'+product.images[0]" /></a><br>
                        </div>
                
                        <div nz-row nzJustify="center" *ngIf="!product.discount">
                            <a href="product/{{product._id}}"><img class="card-img-top" height="150px" width="150px"
                            [src]="'./../assets/images/productImages/'+product.images[0]" /></a><br>
                        </div>

                      
                        
                      
                                <div  *ngIf="product.discount">
                                    <a href="specialOfferProduct/{{product._id}}">{{product.productName | uppercase}}</a>
                                  </div>
                      
                                  <div *ngIf="!product.discount">
                                    <a href="product/{{product._id}}">{{product.productName | uppercase}}</a>
                                  </div>

                                <div class="product-price" *ngIf="product.discount">
                                    <p>
                                        <span nz-typography nzType="danger"> {{product.discount}}</span><strong> <del>{{product.price}}</del> BIRR </strong>
                                        <span  *ngIf="product.measurement"> / {{product.measurement}}</span>
                                        <br>{{product.minOrder}} (min.Order)
                                    </p>

                                  </div>
                                  <div class="product-price" *ngIf="!product.discount">
                                    <p>
                                        <span nz-typography nzType="danger"> {{product.price}}</span><strong> BIRR </strong>
                                        <span  *ngIf="product.measurement"> / {{product.measurement}}</span>
                                        <br>{{product.minOrder}} (min.Order)
                                    </p>
                                  </div>

                              

                                  <div nz-row>
                                    <div nz-row *ngIf="productRateValue(product._id).length != 0">

                                        <i nz-icon nzType="star" nzTheme="fill" 
                                        class="rateFillColor" *ngFor="let n of productRateValue(product._id);let i = index;"></i>
            
                                        
                                       <i nz-icon nzType="star" nzTheme="outline" 
                                        class="rateFillColor" *ngFor="let n of (noRateValue());let i = index;"></i>
            
                                        <!--
                                            <i nz-icon nzType="star" nzTheme="outline" 
                                        class="rateFillColor" *ngFor="let n of (5);let i = index;"></i>
                                        -->
                                        
                                    </div>
            
                                    <div nz-row *ngIf="productRateValue(product._id).length == 0">
                                        <i nz-icon nzType="star" nzTheme="outline" 
                                        class="rateFillColor" *ngFor="let n of [0,1,2,3,4];let i = index;"></i>
                                    </div>
                                    
                                    <div style="text-align: end;">
                                        
                                        <a nz-button nzType="link" (click)="addProductToWishlist(product._id)" 
                                            ><i nz-icon
                                                nzType="heart" nzTheme="outline"
                                                style="color: hotpink;"></i></a>
                                    </div>
                                    
                                </div>
                    </nz-card>
                   
                </div>
            </div>

             
            <div nz-row nzJustify="center" id="loadMore" *ngIf="((countMoreProducts > 0) && (countInitialProducts > 0))">
                <a nz-button nzType="link" (click)="loadMoreFilteredProducts()">Load More Products</a>
            </div>

            
            <div nz-row nzJustify="center" *ngIf="((!(countMoreProducts > 0)) && (countInitialProducts > 0))">
                <a nz-button nzType="link">looks Like you reach the end!</a>
            </div>

        </nz-content>
    </nz-layout>
    
</nz-layout>