<nz-page-header nzTitle="Title" nzSubtitle="This is a subtitle">
    <nz-page-header-extra>
        <button nz-button>Join Us</button>
        <button nz-button>Sign In</button>
        <button nz-button nzType="primary">Contact Us</button>
    </nz-page-header-extra>
    <nz-page-header-content>
          <div>
            <nz-input-group nzSearch nzSize="large"  [nzAddOnBefore]="addOnBeforeTemplate" [nzAddOnAfter]="addOnAfterTemplate">
              <input type="text" nz-input placeholder="What are you looking for ..."  />
            </nz-input-group>
            <ng-template #addOnBeforeTemplate>
              <nz-select [ngModel]="'products'">
                <nz-option nzLabel="Products" nzValue="products"></nz-option>
                <nz-option nzLabel="Company" nzValue="company"></nz-option>
              </nz-select>
            </ng-template>
            <ng-template #addOnAfterTemplate>
                <button nz-button nzType="primary" nzSize="large" nzSearch>
                    <i nz-icon nzType="search" nzTheme="outline"></i>Search
                </button> 
            </ng-template>
          </div>
    </nz-page-header-content>
</nz-page-header>

<ul nz-menu nzMode="horizontal">
    <li routerLink="/home" routerLinkActive="active" nz-menu-item nzSelected>
        <i nz-icon nzType="home"></i>Home
    </li>
    <li nz-menu-item>
        <i nz-icon nzType="user"></i>Account
    </li>
    <li nz-menu-item>
        <i nz-icon nzType="appstore"></i>
        Products
    </li>
    <li nz-submenu nzTitle="Customer Support" nzIcon="setting">
        <ul>
            <li nz-menu-group nzTitle="Account">
                <ul>
                    <li routerLink="/register" routerLinkActive="active" nz-menu-item>Register</li>
                    <li routerLink="/login" routerLinkActive="active" nz-menu-item>Login</li>
                </ul>
            </li>
            <li nz-menu-group nzTitle="Users">
                <ul>
                    <li nz-menu-item>Seller</li>
                    <li nz-menu-item>Buyer</li>
                    <li nz-menu-item>Both</li>
                    <li nz-submenu nzTitle="Sub Menu">
                        <ul>
                            <li nz-menu-item nzDisabled>Option 5</li>
                            <li nz-menu-item>Option 6</li>
                        </ul>
                    </li>
                    <li nz-submenu nzDisabled nzTitle="Disabled Sub Menu">
                        <ul>
                            <li nz-menu-item>Option 5</li>
                            <li nz-menu-item>Option 6</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li nz-menu-item>
        <a href="https://ng.ant.design" target="_blank" rel="noopener noreferrer">Navigation Four - Link</a>
    </li>
</ul>