<p>Subscribe to get the lastest news!</p>
<input type="text" name="email" placeholder="Your email" id="">
<button>Subscribe</button>

<div>
    <h2>Customer Services</h2>
    <ul>
        <li>Help Center</li>
        <li>Contact Us</li>
        <li>Report Abuse</li>
        <li>Submit a Dispute</li>
    </ul>
</div>

<div>
    <h2>About Us</h2>
    <ul>
        <li>About us</li>
        <li>Our Vision</li>
        <li>Our Mission</li>
    </ul>
</div>

<div>
    <h2>Service</h2>
    <ul>
        <li>Catagories</li>
        <li>Request for Proforma</li>
        <li>Report Abuse</li>
    </ul>
</div>

<hr>

<nz-footer class="footer" style="position:fixed;width:100%;"
  style=" text-align: justify;background-color:cornsilk ">
  <div class="inner-outline">
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="{ span: 16, offset: 4 }" [nzXl]="{ span: 16, offset: 4 }">
        <img height="35%" width="35%" src="">
        <p></p>
        <!-- <h3>Perago Information Systems</h3> -->
      </div>

      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="{ span: 20, offset: 2 }" [nzLg]="{ span: 16, offset: 4 }"
        [nzXl]="{ span: 6, offset: 3}"><b>Email:
        </b>info@peragosystems.com</div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="{ span: 20, offset: 2 }" [nzLg]="{ span: 16, offset: 4 }"
        [nzXl]="{ span: 7, offset: 0 }"><b>Tel: </b>+251
        114 701 998 | +251 911 231 622</div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="{ span: 20, offset: 2 }" [nzLg]="{ span: 16, offset: 4 }"
        [nzXl]="{ span: 6, offset: 0 }"><b>Po.Box:
        </b>139 Addis Ababa, Ethiopia</div>

    </div>
    <div nz-row>
      <br />
      <h4>Visit us @: </h4>

      <div nz-col [nzXs]="6" [nzSm]="6" [nzMd]="{ span: 1, offset: 10 }" [nzXl]="{ span: 1, offset: 10 }"><i nz-icon
          nzType="facebook" nzTheme="outline"></i></div>
      <div nz-col [nzXs]="6" [nzSm]="6" [nzMd]="{ span: 1, offset: 0 }" [nzXl]="{ span: 1, offset: 0 }"><i nz-icon
          nzType="instagram" nzTheme="outline"></i></div>
      <div nz-col [nzXs]="6" [nzSm]="6" [nzMd]="{ span: 1, offset: 0 }" [nzXl]="{ span: 1, offset: 0 }"><i nz-icon
          nzType="twitter" nzTheme="outline"></i></div>
      <div nz-col [nzXs]="6" [nzSm]="6" [nzMd]="{ span: 1, offset: 0 }" [nzXl]="{ span: 1, offset: 0 }"><i nz-icon
          nzType="linkedin" nzTheme="outline"></i></div>
    </div>
  </div>
</nz-footer>