<style>
    

    .sider .active {
        color:#cb2d22;
    }

    .categoryList {
        list-style-type: none;
        padding:10px !important;
    }
    .categoryListUl {
        list-style-type: none;
        padding:10px !important;
    }
    .SidertextSize{
        font:14px,arial,sans-serif;
    }
    .breadCrumb{
        margin-top:20px;
        margin-bottom:20px;
    }
    .pd20{
      padding:20px;
  }
  .pd10{
      padding:10px;
  }

  .mr10{
      margin-right:10px;
    }
    .mt10{
      margin-top:10px;
    }
    .mb10{
      margin-bottom:10px;
    }
    .ml10{
      margin-left:10px;
    }
    
    .rateFillColor{
        color: #FF9529;
    }
    .fontSize20{
        font-size:20px;
    }
    .sidebarCategory{
            display:none;
        }
</style>
<nz-layout style="background:white;">
    
    <nz-layout>
        <nz-layout>
          
        <nz-content id="contentDiv">

            <div nz-row nzJustify="center">
        
                <nz-breadcrumb nzSeparator=">" class="breadCrumb">
                <nz-breadcrumb-item>
                    <strong>Products</strong>
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>
                    <strong>{{searchWord}}</strong>
                </nz-breadcrumb-item>
                </nz-breadcrumb>
        
            </div>

            <div nz-row  *ngIf="countInitialProducts > 0" id="products">
                <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6" nzXl="4" *ngFor="let product of relatedProducts" class="pd10">
                    <nz-card [nzBordered]="true" nzHoverable style="height:100% !important">

                        <a nz-row nzJustify="center"  href="product/{{product._id}}"><img class="card-img-top" height="150px" width="150px"
                            [src]="'../assets/images/productImages/'+product.images[0]" /></a><br>
                        
                       

                                
                            <a href="product/{{product._id}}">{{product.productName | uppercase}}</a>
                            <p><a href="product/{{product._id}}">{{((product.description) > 2)? (product.description):((product.description | slice:0:2)+'..')}}</a></p>

                            <p>
                                <strong> ETB </strong> <span nz-typography nzType="danger"> {{product.price}}</span>
                                <span  *ngIf="product.measurement"> / {{product.measurement}}</span>
                                <br>{{product.minOrder}} (min.Order)
                            </p>


                            
                                <div nz-row>
                                    <div nz-row *ngIf="productRateValue(product._id).length != 0">

                                        <i nz-icon nzType="star" nzTheme="fill" 
                                        class="rateFillColor" *ngFor="let n of productRateValue(product._id);let i = index;"></i>
            
                                        
                                       <i nz-icon nzType="star" nzTheme="outline" 
                                        class="rateFillColor" *ngFor="let n of (noRateValue());let i = index;"></i>
            
                                        <!--
                                            <i nz-icon nzType="star" nzTheme="outline" 
                                        class="rateFillColor" *ngFor="let n of (5);let i = index;"></i>
                                        -->
                                        
                                    </div>
            
                                    <div nz-row *ngIf="productRateValue(product._id).length == 0">
                                        <i nz-icon nzType="star" nzTheme="outline" 
                                        class="rateFillColor" *ngFor="let n of [0,1,2,3,4];let i = index;"></i>
                                    </div>
                                    
                                    <div style="text-align: end;">
                                        
                                        <a nz-button nzType="link" (click)="addProductToWishlist(product._id)" 
                                            ><i nz-icon
                                                nzType="heart" nzTheme="outline"
                                                style="color: hotpink;"></i></a>
                                    </div>
                                    
                                </div>
                    </nz-card>
                   
                </div>
            </div>

            <div nz-row nzJustify="center" *ngIf="!(countInitialProducts > 0)">
                <h2>No Product Found!!!</h2>
            </div>

            <div nz-row>
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6" *ngFor="let product of moreRelatedProducts" class="pd10">
                    <nz-card [nzBordered]="true" nzHoverable style="height:100% !important">

                        <a nz-row nzJustify="center"  href="product/{{product._id}}"><img class="card-img-top" height="150px" width="150px"
                            [src]="'../assets/images/productImages/'+product.images[0]" /></a><br>
                        
                       
                            <a href="product/{{product._id}}">{{product.productName | uppercase}}</a>
                            <p><a href="product/{{product._id}}">{{((product.description) > 2)? (product.description):((product.description | slice:0:2)+'..')}}</a></p>

                            <p>
                                <strong> ETB </strong> <span nz-typography nzType="danger"> {{product.price}}</span>
                                <span  *ngIf="product.measurement"> / {{product.measurement}}</span>
                                <br>{{product.minOrder}} (min.Order)
                            </p>
                            
                                <div nz-row>
                                    <div nz-row *ngIf="productRateValue(product._id).length != 0">

                                        <i nz-icon nzType="star" nzTheme="fill" 
                                        class="rateFillColor" *ngFor="let n of productRateValue(product._id);let i = index;"></i>
            
                                        
                                       <i nz-icon nzType="star" nzTheme="outline" 
                                        class="rateFillColor" *ngFor="let n of (noRateValue());let i = index;"></i>
            
                                        <!--
                                            <i nz-icon nzType="star" nzTheme="outline" 
                                        class="rateFillColor" *ngFor="let n of (5);let i = index;"></i>
                                        -->
                                        
                                    </div>
            
                                    <div nz-row *ngIf="productRateValue(product._id).length == 0">
                                        <i nz-icon nzType="star" nzTheme="outline" 
                                        class="rateFillColor" *ngFor="let n of [0,1,2,3,4];let i = index;"></i>
                                    </div>
                                    
                                    <div style="text-align: end;">
                                        
                                        <a nz-button nzType="link" (click)="addProductToWishlist(product._id)" 
                                            ><i nz-icon
                                                nzType="heart" nzTheme="outline"
                                                style="color: hotpink;"></i></a>
                                    </div>
                                    
                                </div>
                    </nz-card>
                   
                </div>
            </div>

            <div nz-row nzJustify="center" id="loadMore" *ngIf="((countMoreProducts > 0) && (countInitialProducts > 0))">
                <a nz-button nzType="link" (click)="loadMoreSearchProducts()">Load More Related Products</a>
            </div>

            
            <div nz-row nzJustify="center" *ngIf="((!(countMoreProducts > 0)) && (countInitialProducts > 0))">
                <a nz-button nzType="link">looks Like you reach the end!</a>
            </div>
            


        </nz-content>
    </nz-layout>
    
</nz-layout>