.content{
    /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  text-align: center;
  object-fit: fill;
}
 
/* .anticon{
    color: #E3141A;
    font-size: 98px;
  }  */
   
  .ant-btn-primary{
    background-color: #E3141A;
    border-color: #E3141A;
  } 
  .ant-btn-primary:hover, .ant-btn-primary:focus{
    border-color: #E3141A ;
    color: #E3141A;
    background-color: #fff;
  }

  a{
    color: #E3141A 
  }
  a:hover {
    font-size: 15px;
  }

  .ant-btn-primary[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  
  }