<div nz-row class="content">
    <div nz-col nzSpan="20">
        <nz-card nzHoverable nzTitle="Change Password" [nzActions]="[actionCancel, actionSave]">
            <form nz-form [formGroup]="changePasswordForm" [nzLayout]="'vertical'" (ngSubmit)="onSubmit()">
                <nz-alert *ngIf="error == true" nzType="error" [nzMessage]="errorMsg" nzShowIcon>
                </nz-alert>

                <nz-form-item>
                    <nz-form-label nzRequired>Old Password</nz-form-label>
                    <nz-form-control nzHasFeedback nzErrorTip="Your old Password is required">
                        <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
                            <input nz-input nzSize="large" [type]="passwordVisible ? 'text' : 'password'"
                                placeholder="New Password" formControlName="oldPassword" />
                        </nz-input-group>
                        <ng-template #suffixTemplate>
                            <i nz-icon [nzType]="passwordVisible ? 'eye' : 'eye-invisible'"
                                (click)="passwordVisible = !passwordVisible"></i>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>

                <div formGroupName="newPassword">
                    <nz-form-item>
                        <nz-form-label nzRequired>New Password</nz-form-label>
                        <nz-form-control nzHasFeedback [nzErrorTip]="passwordErrorTips">
                            <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
                                <input nz-input nzSize="large" [type]="passwordVisible ? 'text' : 'password'"
                                    placeholder="New Password" formControlName="password" />
                                <ng-template #passwordErrorTips let-control>
                                    <ng-container *ngIf="control.hasError('pattern')">Must contain at least one number
                                        and one
                                        uppercase and
                                        lowercase letter, and at least 8 or more characters!</ng-container>
                                    <ng-container *ngIf="control.hasError('required')">Password is required
                                    </ng-container>
                                </ng-template>
                            </nz-input-group>
                            <ng-template #suffixTemplate>
                                <i nz-icon [nzType]="passwordVisible ? 'eye' : 'eye-invisible'"
                                    (click)="passwordVisible = !passwordVisible"></i>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label nzRequired>Confirm Password</nz-form-label>
                        <nz-form-control nzHasFeedback [nzErrorTip]="confirmPasswordErrorTips">
                            <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
                                <input nz-input [type]="passwordVisible ? 'text' : 'password'"
                                    placeholder="Confirm Your Password" formControlName="confirmPassword" />
                                <ng-template #confirmPasswordErrorTips let-control>
                                    <ng-container *ngIf="control.hasError('required')">This Feild is required!
                                    </ng-container>
                                    <ng-container *ngIf="control.hasError('noMatch')">Password doesn't match!
                                    </ng-container>
                                </ng-template>
                            </nz-input-group>
                            <ng-template #suffixTemplate>
                                <i nz-icon [nzType]="passwordVisible ? 'eye' : 'eye-invisible'"
                                    (click)="passwordVisible = !passwordVisible"></i>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <ng-template #actionSave>
                    <a nz-button nzType="link" (click)="onSubmit()"><i nz-icon nzType="lock" nzTheme="outline" ></i>Change Password</a>
                </ng-template>
                <ng-template #actionCancel>
                    <a nz-button nzType="link" nzDanger (click)="onCancel()"><i nz-icon nzType="close" nzTheme="outline"></i> Cancel</a>
                </ng-template>
            </form>
            
        </nz-card>
    </div>

</div>