<nz-content>
    <div nz-row>
        <div nz-col nzSpan="20" nzOffset="2">
        <h3 nz-typography>Your Orders</h3>
        <nz-tabset [nzTabBarExtraContent]="dateFilter">
            <nz-tab nzTitle="Orders">
                <ng-container [ngTemplateOutlet]="listOfOrders">
                </ng-container>
            </nz-tab>
           
            <nz-tab nzTitle="Refund Requested">

            </nz-tab>
            <nz-tab nzTitle="Archived Orders">

            </nz-tab>

        </nz-tabset>
        <ng-template #dateFilter>
            <nz-range-picker nzMode="month" [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-range-picker>
        </ng-template>
        <ng-template #listOfOrders>
            <div>
                <div nz-row class="order-list-header">
                    <div nz-col [nzSpan]="5"></div>
                    <div nz-col [nzSpan]="6">Order Detail</div>
                    <div nz-col [nzSpan]="4">Delivery</div>
                    <div nz-col [nzSpan]="3">Status</div>
                    <div nz-col [nzSpan]="6">Actions</div>
                </div>
                <div nz-row class="order-list" type="flex" *ngFor="let item of orders | slice:PaginationIntValue:PaginationEndValue" >
                    <div nz-col [nzSpan]="5">
                        <nz-card class="order-summary-image">
                            <img alt="example" src="{{item.itemImage}}" />
                            <!-- <div class="no-of-items">16 items</div> -->
                        </nz-card>
                    </div>
                    <div nz-col [nzSpan]="6">
                        <nz-card>
                            <p><strong>Order #:</strong> {{item.orderNumber}}</p>
                            <p><strong>Order placed:</strong> {{item.placedDate}}</p>
                            <p><strong>Total Price:</strong> ${{item.totalPrice}}</p>
                            <p><strong>Ship to:</strong> {{item.name}}</p>

                        </nz-card>
                    </div>
                    <div nz-col [nzSpan]="4">
                        <nz-card>
                            <p><strong>Type #:</strong> {{item.shipmentType}}</p>
                            <p><strong>Expected ship date:</strong> {{item.expectedShipmentDate}}</p>
                            <p><strong>Delivered on:</strong> -- </p>
                        </nz-card>
                    </div>
                    <div nz-col [nzSpan]="3">
                        <nz-card>
                            <p>{{item.status}}</p>
                        </nz-card>
                    </div>
                    <div nz-col [nzSpan]="6">
                        <nz-card class="order-actions">

                            <button nz-button nzType="primary" [nzSize]="size" (click)="checkUser()">View Details</button>
                            <button nz-button nzType="primary" [nzSize]="size" routerLink="/feedback" disabled="false">Write a review</button>
                            <button nz-button nzType="primary" [nzSize]="size"disabled>Archive Order</button>
                            <button nz-button nzType="primary" [nzSize]="size"disabled>Print tax invoice</button>

                        </nz-card>
                    </div>

                </div>
                <div class="paginate-orders" *ngIf="orders.length > 2">
                    <nz-pagination [nzPageIndex]="1" [nzTotal]="orders.length" [nzPageSize]="2" (nzPageIndexChange)="onPageIndexChange($event)"></nz-pagination>
                </div>

            </div>
        </ng-template>
        </div>
        </div>
</nz-content>