<style>
  
    .categoryList {
      list-style-type: none;
      color: black;
      padding: 10px !important;
    }
  
    .categoryListUl {
      list-style-type: none;
      padding: 10px !important;
    }
  
    .SidertextSize {
      font: 14px, arial, sans-serif;
    }
  
    .sideBarInfo {
      display: none;
      margin: 20px;
      padding: 10px;
      background: white
    }
  
    @media screen and (min-width: 958px) {
      .sideBarInfo {
        display: inline;
      }
    }

    .mr10{
      margin-right:10px;
    }
    .mt10{
      margin-top:10px;
    }
    .mb10{
      margin-bottom:10px;
    }
    .ml10{
      margin-left:10px;
    }
    .pd10{
    padding:10px;
    }
    .rateFillColor{
        color: #FF9529;
    }
    .fontSize20{
        font-size:20px;
    }

  </style>
  <nz-spin [nzSpinning]="isSpinning" nzTip="Loading...">
    <nz-layout>
    <nz-layout>
        <nz-content>
            <div nz-row nzJustify="center" class="mt10">
        
                <nz-breadcrumb nzSeparator=">" class="breadCrumb">
                <nz-breadcrumb-item>
                    <strong>Proformas</strong>
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>
                    <strong>Pending Proformas</strong>
                </nz-breadcrumb-item>
                </nz-breadcrumb>
        
            </div>

            <div *ngIf="message != null">
                <h2 nz-row nzJustify="center" nzType="warning">{{message}}!</h2>
            </div>

            <div nz-row nzJustify="center" *ngFor="let pendingProforma of pendingProformas" id="{{pendingProforma._id}}" style="margin:20px;border-radius:25px">
                <!--<div nz-col nz-col nzXs="24" nzSm="24" nzMd="16" nzLg="16" nzXl="16" nzOffset="2">
                    <h3 nz-row nzJustify="center">Items</h3>
                    <div *ngFor="let item of pendingProforma.items;let i = index">
                        <h4 >{{i+1}}. {{item.category}} </h4>
                        <p>{{item.description}}</p>
                        <div nz-row nzJustify="center">
                            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
                               <p *ngIf="item.subCategory"> <strong>Sub-Category : </strong> {{item.subCategory}}</p> 
                            </div>
                            <div  nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
                                <p> <strong>Quantity : </strong> {{item.quantity}} </p>
                            </div>
                        </div>
                       
                    </div>
                    
                </div>
                <nz-divider nzType="vertical"></nz-divider>
                <div nz-col nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4">
                    <div nz-row>
                        <p>
                            <strong>Start Date : </strong>
                             <span *ngIf="pendingProforma.startDate">  {{pendingProforma.startDate | date :  "MMMM d, y"}} </span>
                             <span *ngIf="!(pendingProforma.startDate)"> Not Given </span>
                        </p>
                    </div>
                    <div nz-row>
                        <p>
                            <strong>End Date : </strong>
                             <span *ngIf="pendingProforma.endDate">  {{pendingProforma.endDate | date :  "MMMM d, y"}} </span>
                             <span *ngIf="!(pendingProforma.endDate)"> Not Given </span>
                        </p>
                    </div>
                    <div nz-row>
                        <a nz-button nzType="link" nzPrimary (click)="openProformaModal(pendingProforma._id)">Open</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-button nzType="link" nzDanger (click)="showDeleteConfirm(pendingProforma._id)">Delete</a>
                    </div>
                </div> -->

                
                  
                  <nz-card nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="8" nzHoverable="false">
                   
                      <h4 nz-row nzJustify="center"> Proforma Details </h4>
                      <p nz-row nzJustify="center"> Created On : {{pendingProforma.createDate | date  }} </p>
                      <p nz-row nzJustify="center"> Status : Pending (Not Open yet) </p>
                   
                    
                  </nz-card>

                  <nz-card nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="8" nzHoverable="false">
                    <h4 nz-row nzJustify="center"> Items </h4>

                    <div *ngFor="let item of pendingProforma.items;let i = index">
                      <h4 >{{i+1}}. {{item.category}} </h4>
                      <p nz-row>{{item.description}}</p>
                      <p nz-row *ngIf="item.subCategory"> <strong>Sub-Category : </strong> {{item.subCategory}}</p> 
                      <p nz-row > <strong>Quantity : </strong> {{item.quantity}} </p>
                    </div>

                  </nz-card>

                  <nz-card nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8" nzHoverable="false">
                    <div nz-row>
                        <p>
                            <strong>Start Date : </strong>
                            <span *ngIf="pendingProforma.startDate">  {{pendingProforma.startDate | date :  "MMMM d, y"}} </span>
                            <span *ngIf="!(pendingProforma.startDate)"> Not Given </span>
                        </p>
                    </div>
                    <div nz-row>
                        <p>
                            <strong>End Date : </strong>
                            <span *ngIf="pendingProforma.endDate">  {{pendingProforma.endDate | date :  "MMMM d, y"}} </span>
                            <span *ngIf="!(pendingProforma.endDate)"> Not Given </span>
                        </p>
                    </div>
                    <div nz-row>
                        <a nz-button nzType="link" nzPrimary (click)="openProformaModal(pendingProforma._id)">Open</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-button nzType="link" nzDanger (click)="showDeleteConfirm(pendingProforma._id)">Delete</a>
                    </div>

                  </nz-card>
               

            </div>

        </nz-content>

        <nz-modal [(nzVisible)]="openProformaVisible" nzTitle="Open Proforma" [nzFooter]="null"  (nzOnCancel)="handleCancel()">
            <form nz-form [formGroup]="form" (ngSubmit)="openProforma()">
  
              <nz-form-item>
                <nz-form-label nz-col nzSpan="6">End On </nz-form-label>
                <nz-form-control nzErrorTip="Enter End Date For The Proforma!">
                  <nz-date-picker formControlName="endDate"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
           
              <nz-form-item nz-row nzJustify="center">
                
                <button nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" nz-button nzType="primary" nzShape="round" class="mr10">Submit</button>
                <button nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" nz-button nzType="default" (click)="resetForm()" nzShape="round" >Clear</button>
              
            </nz-form-item>
            </form>
          </nz-modal>

    </nz-layout>
</nz-layout>
</nz-spin>