<style>
    .menu {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  
    .menu li {
      float: left;
    }
  
    .menu li a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px;
      text-decoration: none;
    }
  
    .menu li a:hover {
  
      background-color: #111111;
    }
  
    .menu .active {
  
      background-color: #111111;
    }
  
    .categoryList {
      list-style-type: none;
      color: black;
      padding: 10px !important;
    }
  
    .categoryListUl {
      list-style-type: none;
      padding: 10px !important;
    }
  
    .SidertextSize {
      font: 14px, arial, sans-serif;
    }
  
    .sideBarInfo {
      display: none;
      margin: 20px;
      padding: 10px;
      background: white
    }
  
    @media screen and (min-width: 958px) {
      .sideBarInfo {
        display: inline;
      }
    }

    .pd20{
      padding:20px;
  }
  .pd10{
      padding:10px;
  }
  .mr10{
      margin-right:10px;
    }
    .mt10{
      margin-top:10px;
    }
    .mb10{
      margin-bottom:10px;
    }
    .ml10{
      margin-left:10px;
    }
    
    .rateFillColor{
        color: #FF9529;
    }
    .fontSize20{
        font-size:20px;
    }

  </style>
  <nz-spin [nzSpinning]="isSpinning" nzTip="Loading...">
    <nz-layout style="background:white;">
  
    
    <nz-layout>
        <nz-content>
            <div nz-row nzJustify="center" style="margin-top:20px;">
        
                <nz-breadcrumb nzSeparator=">" class="breadCrumb">
                <nz-breadcrumb-item>
                    <strong>Proformas</strong>
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>
                    <strong>View Proforma</strong>
                </nz-breadcrumb-item>
                </nz-breadcrumb>
        
            </div>
            <div *ngIf="message != null">
                <h2 nz-row nzJustify="center" nzType="warning">{{message}}!</h2>
            </div>

            <div nz-row style="margin:10px;padding:5px;background:white" id="{{proformaId}}">
                <div nz-col nz-col nzXs="24" nzSm="24" nzMd="16" nzLg="16" nzXl="16" nzOffset="2">
                    <h3 nz-row nzJustify="center">Items</h3>
                    <div *ngFor="let item of proforma.items;let i = index" id="{{item._id}}">
                        <h4 >{{i+1}}. {{item.category}} </h4>
                        <p>{{item.description}}</p>
                        <div nz-row nzJustify="center">
                            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
                               <p *ngIf="item.subCategory"> <strong>Sub-Category : </strong> {{item.subCategory}}</p> 
                            </div>
                            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
                                <p> <strong>Quantity : </strong> {{item.quantity}} </p>
                            </div>
                        </div>

                        <div nz-row>
                            <a nz-button nzType="link" id="responsebtn{{item._id}}" nzPrimary (click)="showResponseModal(item._id,item.category)">Add Response</a>
                        </div>
                    </div>
                    
                </div>
                <nz-divider nzType="vertical"></nz-divider>
                <div nz-col nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4">
                    <div nz-row>
                        <p>
                            <strong>Start Date : </strong>
                             <span *ngIf="proforma.startDate">  {{proforma.startDate | date :  "MMMM d, y"}} </span>
                             <span *ngIf="!(proforma.startDate)"> Not Given </span>
                        </p>
                    </div>
                    <div nz-row>
                        <p>
                            <strong>End Date : </strong>
                             <span *ngIf="proforma.endDate">  {{proforma.endDate | date :  "MMMM d, y"}} </span>
                             <span *ngIf="!(proforma.endDate)"> Not Given </span>
                        </p>
                    </div>
                   
                </div>
            </div>
        </nz-content>
        <nz-modal [(nzVisible)]="addResponseModal" nzTitle="Add Response" [nzFooter]="null"  (nzOnCancel)="handleCancel()">
            <form nz-form [formGroup]="form" (ngSubmit)="addResponse()">

               <!--<div nz-row nzJustify="center">
                   <h3>Specify the price for product under category {{itemCategory}}</h3>
               </div>-->
  
              <nz-form-item nz-row>
                <h5>Add the price you can offer for the Item</h5>
                <nz-form-label nzRequired nz-col nzSpan="6" nzFor="productName">Price</nz-form-label>
                <input type="text" nz-input nz-col nzSpan="6" [disabled]="'true'" placeholder="BIRR"/>
                <nz-form-control nzErrorTip="Input Price you offer!">
                  <input type="number" nz-input nzSpan="8" formControlName="unitPrice" />
                </nz-form-control>
              </nz-form-item>
           
              <nz-form-item nz-row nzJustify="center">
                
                <button nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" nz-button nzType="primary" nzShape="round" style="margin-right:15px;">Submit</button>
                <button nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" nz-button nzType="default" (click)="resetForm()" nzShape="round" >Clear</button>
              
              </nz-form-item>
            </form>
          </nz-modal>
    </nz-layout>
</nz-layout>
</nz-spin>