<style>
    

    .sider .active {
        color: #cb2d22;
    }

    .categoryList {
        list-style-type: none;
        padding: 10px !important;
    }

    .categoryListUl {
        list-style-type: none;
        padding: 10px !important;
    }

    .SidertextSize {
        font: 14px, arial, sans-serif;
    }

    .breadCrumb {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .pd20 {
        padding: 20px;
    }

    .pd10 {
        padding: 10px;
    }

    .mr10 {
        margin-right: 10px;
    }

    .mt10 {
        margin-top: 10px;
    }

    .mb10 {
        margin-bottom: 10px;
    }

    .ml10 {
        margin-left: 10px;
    }

    .rateFillColor {
        color: #FF9529;
    }

    .fontSize20 {
        font-size: 20px;
    }

    @media screen and (max-width: 430px) {
        .sidebarCategory {
            display: none;
        }

        .categoryChoice {
            display: inline;
        }

        .filterForLargeDevice {
            display: none !important;
        }

        .sidebarForSmalDevice {
            display: inline !important;
        }
    }
</style>
<nz-layout>

    <nz-layout>
        <nz-sider class="sidebarCategory" style="margin-top:10px;margin-left:10px;background:white;">
            <div nz-row>
                <strong style="background:#cb2d22;width:100%;color:white" class="pd10">CATEGORIES</strong>
            </div>
            <ul class="categoryList" class="SidertextSize pd10 " style="padding:10px;list-style-type: none !important;">
                <li *ngFor="let category of categories">
                    <a href="specialOfferByCategory/{{category.name}}" *ngIf="category.name === productCategory"
                        class="sider"><strong class="active">{{category.name | uppercase}}</strong> </a>
                    <a href="specialOfferByCategory/{{category.name}}" *ngIf="category.name != productCategory"><strong
                            style="color:black">{{category.name | uppercase}}</strong></a>
                    <ul *ngIf="category.subCategories" class="categoryList">
                        <li *ngFor="let subCategory of category.subCategories"><a
                                href="specialOfferBySubCategory/{{subCategory}}" style="color:black">{{subCategory}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nz-sider>
        <nz-content>

            <div nz-row style="display:none;margin-right:10px;" class="sidebarForSmalDevice">
                <ul nz-menu nzMode="inline">
                    <li nz-submenu nzTitle="CATEGORIES" style="background:#cb2d22;width:100%;color:white"
                        nzIcon="unordered-list">
                        <ul>
                            <li *ngFor="let category of categories" nz-menu-group style="padding:10px!important">
                                <a href="specialOfferByCategory/{{category.name}}" *ngIf="category.name === productCategory"
                                class="sider"><strong class="active">{{category.name | uppercase}}</strong> </a>
                                        <a href="specialOfferByCategory/{{category.name}}" *ngIf="category.name != productCategory"><strong
                                    style="color:black">{{category.name | uppercase}}</strong></a>
                                <ul *ngIf="category.subCategories">
                                    <li *ngFor="let subCategory of category.subCategories" nz-menu-item>
                                        <a href="specialOfferBySubCategory/{{subCategory}}"
                                            style="color:black;padding:10px !important;">{{subCategory}}</a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>


            <div nz-row nzJustify="center">

                <nz-breadcrumb nzSeparator=">" class="breadCrumb">
                    <nz-breadcrumb-item>
                        <strong>Special Offers</strong>
                    </nz-breadcrumb-item>

                    <nz-breadcrumb-item>
                        <strong>{{productCategory}}</strong>
                    </nz-breadcrumb-item>
                </nz-breadcrumb>

            </div>

            <div nz-row *ngIf="initialCountProducts > 0">
                <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8" nzXl="6" *ngFor="let product of relatedProducts"
                    class="pd10">
                    <nz-card [nzBordered]="true" nzHoverable>

                        <a nz-row nzJustify="center" href="specialOfferProduct/{{product.product._id}}"><img
                                class="card-img-top" height="150px" width="150px"
                                [src]="'./../assets/images/productImages/'+product.product.images[0]" /></a><br>

                        <a
                            href="specialOfferProduct/{{product.product._id}}">{{product.product.productName | uppercase}}</a>
                        <p><a
                                href="specialOfferProduct/{{product.product._id}}">{{((product.product.description) > 20)? (product.product.description):((product.product.description | slice:0:20)+'..')}}</a>
                        </p>

                        <p>
                            <strong> ETB </strong>
                            <span nz-typography nzType="danger"> {{product.specialoffer.discount}}</span><span
                                nz-typography><del>{{product.product.price}}</del></span>
                            <span *ngIf="product.product.measurement"> / {{product.product.measurement}}</span>
                            <br>{{product.product.minOrder}} (min.Order)
                        </p>
                        <div nz-row *ngIf="productRateValue(product.product._id).length != 0">

                            <i nz-icon nzType="star" nzTheme="fill" 
                            class="rateFillColor" *ngFor="let n of productRateValue(product.product._id);let i = index;"></i>

                            
                           <i nz-icon nzType="star" nzTheme="outline" 
                            class="rateFillColor" *ngFor="let n of (noRateValue());let i = index;"></i>

                            <!--
                                <i nz-icon nzType="star" nzTheme="outline" 
                            class="rateFillColor" *ngFor="let n of (5);let i = index;"></i>
                            -->
                            
                        </div>

                        <div nz-row *ngIf="productRateValue(product.product._id).length == 0">
                            <i nz-icon nzType="star" nzTheme="outline" 
                            class="rateFillColor" *ngFor="let n of [0,1,2,3,4];let i = index;"></i>
                        </div>

                        <div row *ngIf="product.specialoffer.endDate != null">
                            <p>Ends On : {{product.specialoffer.endDate | date :  "MMMM d, y"}} </p>
                        </div>

                        <div nz-row nzJustify="end">
                            <a nz-button nzType="link" (click)="addProductToWishlist(product.product._id)"
                                nzShape="round"><i nz-icon nzType="heart" nzTheme="outline"
                                    style="color: hotpink;font-size:20px;"></i></a>
                        </div>
                    </nz-card>
                </div>
            </div>
            <div nz-row nzJustify="center" *ngIf="!(initialCountProducts > 0)">
                <h2>No Product Found!!!</h2>
            </div>

            <div nz-row>
                <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8" nzXl="6" *ngFor="let product of moreRelatedProducts"
                    class="pd10">
                    <nz-card [nzBordered]="true" nzHoverable>

                        <a nz-row nzJustify="center" href="specialOfferProduct/{{product.product._id}}"><img
                                class="card-img-top" height="150px" width="150px"
                                [src]="'./../assets/images/productImages/'+product.product.images[0]" /></a><br>

                        <a
                            href="specialOfferProduct/{{product.product._id}}">{{product.product.productName | uppercase}}</a>
                        <p><a
                                href="specialOfferProduct/{{product.product._id}}">{{((product.product.description) > 20)? (product.product.description):((product.product.description | slice:0:20)+'..')}}</a>
                        </p>

                        <p>
                            <strong> ETB </strong>
                            <span nz-typography nzType="danger"> {{product.specialoffer.discount}}</span><span
                                nz-typography><del>{{product.product.price}}</del></span>
                            <span *ngIf="product.product.measurement"> / {{product.product.measurement}}</span>
                            <br>{{product.product.minOrder}} (min.Order)
                        </p>
                        <div nz-row *ngIf="productRateValue(product.product._id).length != 0">

                            <i nz-icon nzType="star" nzTheme="fill" 
                            class="rateFillColor" *ngFor="let n of productRateValue(product.product._id);let i = index;"></i>

                            
                           <i nz-icon nzType="star" nzTheme="outline" 
                            class="rateFillColor" *ngFor="let n of (noRateValue());let i = index;"></i>

                            <!--
                                <i nz-icon nzType="star" nzTheme="outline" 
                            class="rateFillColor" *ngFor="let n of (5);let i = index;"></i>
                            -->
                            
                        </div>

                        <div nz-row *ngIf="productRateValue(product.product._id).length == 0">
                            <i nz-icon nzType="star" nzTheme="outline" 
                            class="rateFillColor" *ngFor="let n of [0,1,2,3,4];let i = index;"></i>
                        </div>

                        <div row *ngIf="product.specialoffer.endDate != null">
                            <p>Ends On : {{product.specialoffer.endDate | date :  "MMMM d, y"}} </p>
                        </div>

                        <div nz-row nzJustify="end">
                            <a nz-button nzType="link" (click)="addProductToWishlist(product.product._id)"
                                nzShape="round"><i nz-icon nzType="heart" nzTheme="outline"
                                    style="color: hotpink;font-size:20px;"></i></a>
                        </div>
                    </nz-card>
                </div>
            </div>

            <div nz-row nzJustify="center" id="loadMore" *ngIf="((countProducts > 0) && (initialCountProducts > 0))">
                <a nz-button nzType="link" (click)="loadMoreRelatedSpecialOffers()">Load More SpecialOffers</a>
            </div>


            <div nz-row nzJustify="center" *ngIf="((!(countProducts > 0)) && (initialCountProducts > 0))">
                <a nz-button nzType="link">looks Like you reach the end!</a>
            </div>

        </nz-content>
    </nz-layout>
   
</nz-layout>