<style>
   

    .sider .active {
        color: #cb2d22;
    }

    .categoryList {
        list-style-type: none;
        padding: 10px !important;
    }

    .categoryListUl {
        list-style-type: none;
        padding: 10px !important;
    }

    .SidertextSize {
        font: 14px, arial, sans-serif;
    }

    .breadCrumb {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .pd20 {
        padding: 20px;
    }

    .pd10 {
        padding: 10px;
    }

    .mr10 {
        margin-right: 10px;
    }

    .mt10 {
        margin-top: 10px;
    }

    .mb10 {
        margin-bottom: 10px;
    }

    .ml10 {
        margin-left: 10px;
    }

    .rateFillColor {
        color: #FF9529;
    }

    .fontSize20 {
        font-size: 20px;
    }

    @media screen and (max-width: 430px) {
        .sidebarCategory {
            display: none;
        }

        .categoryChoice {
            display: inline;
        }

        .filterForLargeDevice {
            display: none !important;
        }

        .sidebarForSmalDevice {
            display: inline !important;
        }
        .sider .active {
        color: #cb2d22 !important;
    }
    }
</style>
<nz-layout style="background:white;">
    
    <nz-layout>
        <nz-sider class="sidebarCategory" style="margin-top:10px;margin-left:10px;background:white;">
            <div nz-row>
                <strong style="background:#cb2d22;width:100%;color:white" class="pd10">CATEGORIES</strong>
            </div>
            <ul class="categoryList" style="padding:10px;list-style-type: none !important;" class="SidertextSize">
                <li *ngFor="let category of categories">
                    <a href="specialOfferByCategory/{{category.name}}"><strong
                            style="color:black">{{category.name | uppercase}}</strong></a>
                            <ul *ngIf="category.subCategories" class="categoryList">
                                <li *ngFor="let subCategory of category.subCategories">
                                    <a  href="specialOfferBySubCategory/{{subCategory}}" *ngIf="subCategory === productSubCategory" class="sider"><strong
                                        class="active">{{subCategory  | uppercase}}</strong> </a>
                                    <a  *ngIf="subCategory != productSubCategory"
                                        href="specialOfferBySubCategory/{{subCategory}}" style="color:black">{{subCategory}}</a>
                                </li>
                            </ul>
                </li>
            </ul>
        </nz-sider>
        <nz-content>

            <div nz-row style="display:none;margin-right:10px;" class="sidebarForSmalDevice">
                <ul nz-menu nzMode="inline">
                    <li nz-submenu nzTitle="CATEGORIES" style="background:#cb2d22;width:100%;color:white"
                        nzIcon="unordered-list">
                        <ul>
                            <li *ngFor="let category of categories" nz-menu-group style="padding:10px!important">
                                <a href="specialOfferByCategory/{{category.name}}"><strong
                                style="color:black">{{category.name | uppercase}}</strong></a>
                                <ul *ngIf="category.subCategories" class="categoryList">
                                    <li *ngFor="let subCategory of category.subCategories" style="color:black" nz-menu-item>
                                        <a href="specialOfferBySubCategory/{{subCategory}}"
                                            *ngIf="subCategory === productSubCategory" class="sider"><strong
                                                class="active">{{subCategory  | uppercase}}</strong> </a>
                                        <a href="specialOfferBySubCategory/{{subCategory}}" *ngIf="subCategory != productSubCategory"
                                            style="color:black">{{subCategory}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div nz-row nzJustify="center">

                <nz-breadcrumb nzSeparator=">" class="breadCrumb">
                    <nz-breadcrumb-item>
                        <strong>Special Offers</strong>
                    </nz-breadcrumb-item>

                    <nz-breadcrumb-item>
                        <strong>{{productSubCategory}}</strong>
                    </nz-breadcrumb-item>
                </nz-breadcrumb>

            </div>

            <div nz-row *ngIf="initialCountProducts> 0">
                <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8" nzXl="6" *ngFor="let product of relatedProducts"
                    class="pd10">

                    <nz-card [nzBordered]="true" nzHoverable style="height:100% !important">

                        <a nz-row nzJustify="center" href="specialOfferProduct/{{product.product._id}}"><img
                                class="card-img-top" height="150px" width="150px"
                                [src]="'./../assets/images/productImages/'+product.product.images[0]" /></a><br>
                        <a
                            href="specialOfferProduct/{{product.product._id}}">{{product.product.productName | uppercase}}</a>
                        <p><a
                                href="specialOfferProduct/{{product.product._id}}">{{((product.product.description) > 2)? (product.product.description):((product.product.description | slice:0:2)+'..')}}</a>
                        </p>

                        <p>
                            <strong> ETB </strong>
                            <span nz-typography nzType="danger"> {{product.specialoffer.discount}}</span><span
                                nz-typography><del>{{product.product.price}}</del></span>
                            <span *ngIf="product.product.measurement"> / {{product.product.measurement}}</span>
                            <br>{{product.product.minOrder}} (min.Order)
                        </p>
                        <div nz-row>

                            <i nz-icon nzType="star" nzTheme="fill" class="rateFillColor"></i>

                            <i nz-icon nzType="star" nzTheme="fill" class="rateFillColor"></i>

                            <i nz-icon nzType="star" nzTheme="fill" class="rateFillColor"></i>

                            <i nz-icon nzType="star" nzTheme="fill" class="rateFillColor"></i>

                            <i nz-icon nzType="star" nzTheme="fill" class="rateFillColor"></i>


                        </div>
                        <div nz-row nzJustify="end">
                            <a nz-button nzType="link" (click)="addProductToWishlist(product.product._id)"
                                nzShape="round"><i nz-icon nzType="heart" nzTheme="outline"
                                    style="color: hotpink;font-size:20px;"></i></a>
                        </div>
                    </nz-card>

                </div>
            </div>
            <div nz-row nzJustify="center" *ngIf="!(initialCountProducts > 0)">
                <h2>No Product Found!!!</h2>
            </div>

            <div nz-row>
                <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8" nzXl="6" *ngFor="let product of moreRelatedProducts"
                    class="pd10">

                    <nz-card [nzBordered]="true" nzHoverable style="height:100% !important">

                        <a nz-row nzJustify="center" href="specialOfferProduct/{{product.product._id}}"><img
                                class="card-img-top" height="150px" width="150px"
                                [src]="'./../assets/images/productImages/'+product.product.images[0]" /></a><br>
                        <a
                            href="specialOfferProduct/{{product.product._id}}">{{product.product.productName | uppercase}}</a>
                        <p><a
                                href="specialOfferProduct/{{product.product._id}}">{{((product.product.description) > 2)? (product.product.description):((product.product.description | slice:0:2)+'..')}}</a>
                        </p>

                        <p>
                            <strong> ETB </strong>
                            <span nz-typography nzType="danger"> {{product.specialoffer.discount}}</span><span
                                nz-typography><del>{{product.product.price}}</del></span>
                            <span *ngIf="product.product.measurement"> / {{product.product.measurement}}</span>
                            <br>{{product.product.minOrder}} (min.Order)
                        </p>
                        <div nz-row>

                            <i nz-icon nzType="star" nzTheme="fill" class="rateFillColor"></i>

                            <i nz-icon nzType="star" nzTheme="fill" class="rateFillColor"></i>

                            <i nz-icon nzType="star" nzTheme="fill" class="rateFillColor"></i>

                            <i nz-icon nzType="star" nzTheme="fill" class="rateFillColor"></i>

                            <i nz-icon nzType="star" nzTheme="fill" class="rateFillColor"></i>


                        </div>
                        <div nz-row nzJustify="end">
                            <a nz-button nzType="link" (click)="addProductToWishlist(product.product._id)"
                                nzShape="round"><i nz-icon nzType="heart" nzTheme="outline"
                                    style="color: hotpink;font-size:20px;"></i></a>
                        </div>
                    </nz-card>

                </div>
            </div>

            <div nz-row nzJustify="center" id="loadMore" *ngIf="((countProducts > 0) && (initialCountProducts > 0))">
                <a nz-button nzType="link" (click)="loadMoreRelatedSpecialOffersBySubCategory()">Load More
                    SpecialOffers</a>
            </div>


            <div nz-row nzJustify="center" *ngIf="((!(countProducts > 0)) && (initialCountProducts > 0))">
                <a nz-button nzType="link">looks Like you reach the end!</a>
            </div>

        </nz-content>
    </nz-layout>
    
</nz-layout>