<style>
  .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 30px 16px 0;
    float: left;
  }

  .header-menu {
    line-height: 64px;
  }

  .sider-menu {
    height: 100%;
    border-right: 0;
  }

  .inner-layout {
    padding: 0 24px 24px;
  }

  nz-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }

  .mr10 {
    margin-right: 10px;
  }
</style>
<nz-spin [nzSpinning]="isSpinning" nzTip="Loading...">

  <nz-layout>
    <nz-header>
      <div class="logo"></div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
       
      </ul>
    </nz-header>
    <nz-layout>
      <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
        <ul nzMode="inline" class="sider-menu" nz-menu nzTheme="dark" nzMode="inline">

          <li nz-submenu nzOpen nzIcon="user" nzTitle="Products" nzSelected>
            <ul>
              <li nz-menu-item><a href="/myProducts"> Manage Products </a></li>
              <li nz-menu-item nzSelected><a href="/addProduct"> Add Product </a></li>
            </ul>
          </li>

          <li nz-submenu nzOpen nzIcon="user" nzTitle="Category">
            <ul>
              <li nz-menu-item><a href="/categories"> Manage Categories </a></li>
              <li nz-menu-item><a href="/addCategory"> Add Category </a></li>
            </ul>
          </li>

          <li nz-submenu nzOpen nzIcon="user" nzTitle="Measurement">
            <ul>
              <li nz-menu-item><a href="/measurements">Manage Measurements </a></li>
              <li nz-menu-item><a href="/addMeasurement"> Add Measurement </a></li>
            </ul>
          </li>

          <li nz-submenu nzOpen nzIcon="user" nzTitle="Special Offers">
            <ul>
              <li nz-menu-item><a href="/pendingSpecialoffer">Pending Special Offers </a></li>
              <li nz-menu-item><a href="/activeSpecialoffer">Active Special Offers </a></li>
            </ul>
          </li>

        </ul>
      </nz-sider>
      <nz-layout class="inner-layout">
        <nz-content>

          <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
            <nz-tab [nzTitle]="'Add Product'">
              <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">

                <nz-form-item nz-row>
                  <nz-form-label nzRequired nzFor="productName" nz-col nzSpan="6">Product Name</nz-form-label>
                  <nz-form-control nzErrorTip="Please input Product Name!">
                    <input type="text" nz-input formControlName="productName" id="productName" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item nz-row>
                  <nz-form-label nzRequired nz-col nzSpan="6">Product Category</nz-form-label>
                  <nz-form-control nzErrorTip="Select Product Category!">

                    <nz-select formControlName="productCategory" nzShowSearch nzAllowClear
                      nzPlaceHolder="Select a category" [(ngModel)]="selectedCategory">
                      <nz-option *ngFor="let category of categories" nzLabel="{{category.name}}"
                        nzValue="{{category.name}}"></nz-option>
                    </nz-select>

                  </nz-form-control>
                </nz-form-item>

                <nz-form-item nz-row>
                  <nz-form-label nz-col nzSpan="6">Product Sub-Category</nz-form-label>
                  <nz-form-control>

                    <nz-select formControlName="productSubCategory" nzShowSearch nzAllowClear
                      nzPlaceHolder="Select a category" [(ngModel)]="selectedSubCategory">
                      <nz-option *ngFor="let subCategory of subCategories" nzLabel="{{subCategory}}"
                        nzValue="{{subCategory}}"></nz-option>
                    </nz-select>

                  </nz-form-control>
                </nz-form-item>

                <nz-form-item nz-row>
                  <nz-form-label nzRequired nz-col nzSpan="6" nzFor="productName">Min Order</nz-form-label>
                  <nz-form-control nzErrorTip="Enter Minimum Order!">
                    <input type="number" nz-input formControlName="minOrder" id="minOrder" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item nz-row>
                  <nz-form-label nzRequired nz-col nzSpan="6" nzFor="productName">Price</nz-form-label>
                  <input type="text" nz-input nz-col nzSpan="2" [disabled]="'true'" placeholder="ETB" />
                  <nz-form-control nzErrorTip="Enter Product Price!">
                    <input type="number" nz-input formControlName="price" id="price" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item nz-row>
                  <nz-form-label nz-col nzSpan="6">Measurement</nz-form-label>
                  <nz-form-control nzErrorTip="Enter Product Measurement!">

                    <nz-select formControlName="measurement" nzShowSearch nzAllowClear
                      nzPlaceHolder="Select a measurement">
                      <nz-option *ngFor="let measurement of measurements" nzLabel="{{measurement.name}}"
                        nzValue="{{measurement.name}}"></nz-option>
                    </nz-select>

                  </nz-form-control>
                </nz-form-item>

                <nz-form-item nz-row>
                  <nz-form-label nz-col nzSpan="6">Colors</nz-form-label>
                  <nz-form-control>

                    <nz-select nzAllowClear nzPlaceHolder="Select Color" formControlName="color" [nzMode]="'multiple'"
                      [(ngModel)]="listOfSelectedColor">
                      <nz-option nzLabel="Green" nzValue="green"></nz-option>
                      <nz-option nzLabel="Yellow" nzValue="yellow"></nz-option>
                      <nz-option nzLabel="red" nzValue="red"></nz-option>
                      <nz-option nzLabel="Blue" nzValue="blue"></nz-option>
                    </nz-select>

                  </nz-form-control>
                </nz-form-item>

                <nz-form-item nz-row>
                  <nz-form-label nz-col nzSpan="6">Sizes</nz-form-label>
                  <nz-form-control>

                    <nz-select nzAllowClear nzPlaceHolder="Select size" formControlName="size" [nzMode]="'multiple'"
                      [(ngModel)]="listOfSelectedSize">
                      <nz-option nzLabel="small" nzValue="small"></nz-option>
                      <nz-option nzLabel="large" nzValue="large"></nz-option>
                      <nz-option nzLabel="medium" nzValue="medium"></nz-option>
                      <nz-option nzLabel="extraSmall" nzValue="extraSmall"></nz-option>
                    </nz-select>

                  </nz-form-control>
                </nz-form-item>

                <nz-form-item nz-row>
                  <nz-form-label nzFor="sizeInNumber" nz-col nzSpan="6">Sizes In Number</nz-form-label>
                  <nz-form-control>
                    <input type="text" nz-input formControlName="sizeInNumber" id="sizeInNumber" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item nz-row>
                  <nz-form-label nz-col nzSpan="6">Description</nz-form-label>
                  <nz-form-control>
                    <textarea formControlName="description" nz-input rows="2" placeholder="write any thing"></textarea>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item nz-row>
                  <nz-form-label nz-col nzSpan="6">keyword(separate each by comma)</nz-form-label>
                  <nz-form-control>
                    <textarea formControlName="keyword" nz-input rows="2" placeholder="enter keyword here"></textarea>
                  </nz-form-control>
                </nz-form-item>


                <nz-form-item nz-row>
                  <nz-form-label nzRequired nz-col nzSpan="6">Images</nz-form-label>
                  <nz-form-control nzErrorTip="Upload Image of the product!">
                    <input type="file" nz-input (change)="uploadFile($event)" formControlName="images" multiple>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item nz-row nzJustify="center">

                  <button nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" nz-button nzType="primary" class="mr10"
                    nzShape="round">Submit</button>
                  <button nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" nz-button nzType="default"
                    (click)="resetForm()" nzShape="round">Clear</button>

                </nz-form-item>

              </form>
            </nz-tab>
          </nz-tabset>

        </nz-content>
      </nz-layout>
    </nz-layout>
  </nz-layout>
</nz-spin>