<div nz-row class="content">

    <div nz-col *ngIf="!restLinkSent" nzSpan="10">
        <nz-card nzHoverable>
            <i nz-icon nzType="lock" nzTheme="fill"></i>
            <h1 nz-typography>Forgot Password?</h1>
            <h4 nz-typography>You can reset your password here</h4>
            <p>when you fill in you registerd email address, you will be sent a link where you can reset your password.
            </p>
            <form nz-form (ngSubmit)="onSubmit()" #resetForm="ngForm">
                <nz-alert *ngIf="error == true" nzType="error" [nzMessage]="errorMsg" nzCloseable nzShowIcon>
                </nz-alert>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please Enter a Valid Email Address">
                        <nz-input-group nzAddOnAfterIcon="mail">
                            <input nz-input nzSize="large" type="email" ngModel name="email"
                                placeholder="Your Email here" required email />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <button nz-button nzBlock type="submit" [nzType]="'primary'" style="margin-top: 20px;"
                    [disabled]='!resetForm.valid'>Reset
                    Password</button>
                <div nz-row style="margin-top: 12px">
                    <div nz-col nzSpan="8">
                        <p>Already have an Account?<a routerLink="/login"> Login now! </a></p>
                    </div>
                    <div nz-col nzOffset="8" nzSpan="8">
                        <p>Don't Have an Account?<a routerLink="/register"> Create an Account! </a></p>
                    </div>
                </div>
            </form>
        </nz-card>
    </div>
    <div nz-col *ngIf="restLinkSent" nzSpan="12">
        <nz-card nzHoverable>
            <nz-result nzStatus="info" nzTitle="Reset Password" nzSubTitle="{{successMsg}}">
                <div nz-result-extra>
                    <button nz-button nzType="primary" (click)="goToEmail()">Go to Email</button>
                    <button nz-button (click)="changeEmail()">Change Email Address</button>
                </div>
            </nz-result>
        </nz-card>
    </div>
</div>