
<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="/my_account" routerLinkActive="active">My Account</a></li>
    <li><a routerLink="/profile/5fbfd7c89d9144217423462d" routerLinkActive="active">View Profile</a></li>
    <li><a routerLink="/forgot_password" routerLinkActive="active">Forgot Password</a></li>
    <li><a routerLink="/reset_password/token" routerLinkActive="active">Reset Password</a></li>
    <li><a routerLink="/subscription" routerLinkActive="active">Subscription</a></li>
    <li><a routerLink="/header" routerLinkActive="active">Header</a></li>
    <li><a routerLink="/footer" routerLinkActive="active">Footer</a></li>
  
    <li><a routerLink="/help" routerLinkActive="active">Help Center</a></li>
   
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->

 <button nz-button nzType="primary">Primary</button>