<style>
   
  
    .categoryList {
      list-style-type: none;
      color: black;
      padding: 10px !important;
    }
  
    .categoryListUl {
      list-style-type: none;
      padding: 10px !important;
    }
  
    .SidertextSize {
      font: 14px, arial, sans-serif;
    }
  
    .sideBarInfo {
      display: none;
      margin: 20px;
      padding: 10px;
      background: white
    }
  
    @media screen and (min-width: 958px) {
      .sideBarInfo {
        display: inline;
      }
    }

    .fontSize20{
      font-size:20px;
    }

  </style>
  <nz-spin [nzSpinning]="isSpinning" nzTip="Loading...">
    <nz-layout>    
    <nz-layout>
        <nz-content>
            <div nz-row nzJustify="center" style="margin-top:20px;">
        
                <nz-breadcrumb nzSeparator=">" class="breadCrumb">
                <nz-breadcrumb-item>
                    <strong>Proformas</strong>
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>
                    <strong>Closed Proformas</strong>
                </nz-breadcrumb-item>
                </nz-breadcrumb>
        
            </div>
            <div *ngIf="message != null">
                <h2 nz-row nzJustify="center" nzType="warning">{{message}}!</h2>
            </div>

            <div nz-row *ngFor="let closedProforma of closedProformas" style="margin:10px;padding:5px;background:white">
                <!--<div nz-col nz-col nzXs="24" nzSm="24" nzMd="16" nzLg="16" nzXl="16" nzOffset="2">
                    <h3 nz-row nzJustify="center">Items</h3>
                    <div *ngFor="let item of pendingProforma.items;let i = index">
                        <h4 >{{i+1}}. {{item.category}} </h4>
                        <p>{{item.description}}</p>
                        <div nz-row nzJustify="center">
                            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
                               <p *ngIf="item.subCategory"> <strong>Sub-Category : </strong> {{item.subCategory}}</p> 
                            </div>
                            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
                                <p> <strong>Quantity : </strong> {{item.quantity}} </p>
                            </div>
                        </div>
                       
                    </div>
                    
                </div>
                <nz-divider nzType="vertical"></nz-divider>
                <div nz-col nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4">
                    <div nz-row>
                        <p>
                            <strong>Start Date : </strong>
                             <span *ngIf="pendingProforma.startDate">  {{pendingProforma.startDate | date :  "MMMM d, y"}} </span>
                             <span *ngIf="!(pendingProforma.startDate)"> Not Given </span>
                        </p>
                    </div>
                    <div nz-row>
                        <p>
                            <strong>End Date : </strong>
                             <span *ngIf="pendingProforma.endDate">  {{pendingProforma.endDate | date :  "MMMM d, y"}} </span>
                             <span *ngIf="!(pendingProforma.endDate)"> Not Given </span>
                        </p>
                    </div>
                    <div nz-row>
                        <a nz-button nzType="link" nzPrimary (click)="viewResponses(pendingProforma._id)">View Responses</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        
                    </div>
                </div>-->

               
                    <nz-card nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="8" nzHoverable="false">
                      <h4 nz-row nzJustify="center"> Proforma Details </h4>
                      <p nz-row nzJustify="center"> Created On : {{closedProforma.createDate | date  }} </p>
                      <p nz-row nzJustify="center"> Status : Open (Taking Responses) </p>
                    </nz-card>
  
                    <nz-card nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="8" nzHoverable="false">
                      <h4 nz-row nzJustify="center"> Items </h4>
  
                      <div *ngFor="let item of closedProforma.items;let i = index">
                        <h4 >{{i+1}}. {{item.category}} </h4>
                        <p nz-row>{{item.description}}</p>
                        <p nz-row *ngIf="item.subCategory"> <strong>Sub-Category : </strong> {{item.subCategory}}</p> 
                        <p nz-row > <strong>Quantity : </strong> {{item.quantity}} </p>
                        <div nz-row nzJustify="center">
                          <a href="viewResponses/{{item._id}}" nzType="link" nzPrimary>View Responses</a>
                        </div>
                      </div>
  
                    </nz-card>
  
                    <nz-card nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8" nzHoverable="false">
                      <div nz-row>
                          <p>
                              <strong>Start Date : </strong>
                              <span *ngIf="closedProforma.startDate">  {{closedProforma.startDate | date :  "MMMM d, y"}} </span>
                              <span *ngIf="!(closedProforma.startDate)"> Not Given </span>
                          </p>
                      </div>
                      <div nz-row>
                          <p>
                              <strong>End Date : </strong>
                              <span *ngIf="closedProforma.endDate">  {{closedProforma.endDate | date :  "MMMM d, y"}} </span>
                              <span *ngIf="!(closedProforma.endDate)"> Not Given </span>
                          </p>
                      </div>
  
                      <div nz-row nzJustify="center" nzAlign="middle">
                        <h3>Closed</h3>
                      </div>
  
                    </nz-card>
                 
            </div>

        </nz-content>
    </nz-layout>
</nz-layout>
</nz-spin>