<style>
    .menu {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  
    .menu li {
      float: left;
    }
  
    .menu li a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px;
      text-decoration: none;
    }
  
    .menu li a:hover {
  
      background-color: #111111;
    }
  
    .menu .active {
  
      background-color: #111111;
    }
  
    .categoryList {
      list-style-type: none;
      color: black;
      padding: 10px !important;
    }
  
    .categoryListUl {
      list-style-type: none;
      padding: 10px !important;
    }
  
    .SidertextSize {
      font: 14px, arial, sans-serif;
    }
  
    
    .responseDiv{
        height:500px;
        padding:5px;
        overflow-y:scroll;
    }
    .bodyDiv{
       margin:10px;
       padding:5px;
    }
    .whiteBg{
        background:white;
    }
    .pd5{
        padding:5px;
    }
    .pd10{
        padding:10px;
    }
    .pd15{
        padding:15px;
    }
    .pd20{
        padding:20px;
    }
    .pd25{
        padding:25px;
    }
    .pdl10{
        padding-left:10px;
    }
    .mrg{
        margin:10px;
    }
   
  .mr10{
      margin-right:10px;
    }
    .mt10{
      margin-top:10px;
    }
    .mb10{
      margin-bottom:10px;
    }
    .ml10{
      margin-left:10px;
    }
    
    .rateFillColor{
        color: #FF9529;
    }
    .fontSize20{
        font-size:20px;
    }

  </style>
  <nz-spin [nzSpinning]="isSpinning" nzTip="Loading...">
    <nz-layout style="background:white;">
  
      
    <nz-layout>
        <nz-content>
            <div *ngIf="message != null">
                <h2 nz-row nzJustify="center" nzType="warning">{{message}}!</h2>
            </div>
          
            <div  *ngIf="responseData != null">
            <div nz-row nzJustify="center" id="{{responseData.items[0]._id}}" class="bodyDiv">
               <div nz-col nzXs="24" nzSm="24" nzMd="10" nzLg="10" nzXl="10" class="whiteBg pd10 mrg">
                    <h3 nz-row nzJustify="center">Items</h3>
                    <div>
                        <h4 >{{responseData.items[0].category}} </h4>
                         <p>{{responseData.items[0].description}}</p>
                         <div nz-row nzJustify="center">
                            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
                               <p *ngIf="responseData.items[0].subCategory"> <strong>Sub-Category : </strong> {{responseData.items[0].subCategory}}</p> 
                            </div>
                            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
                                <p> <strong>Quantity : </strong> {{responseData.items[0].quantity}} </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="divTable whiteBg pdl10 mrg" nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8" >
                    <h4 nz-row nzJustify="center"> Responses ({{responseData.response.length}})</h4>
                    <div class="responseDiv">
                        <div *ngFor="let response of responseData.response" class="commentDiv">
                            <nz-comment [nzAuthor]="response.responseBy">
                                <a href="#" (click)="contactSeller(response.userId)"><nz-avatar nz-comment-avatar nzIcon="user" ></nz-avatar> </a>
                                <nz-comment-content>
                                <p>{{response.unitPrice}} BIRR</p>
                                </nz-comment-content>
                            </nz-comment>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div  *ngIf="responseData == null">
            <h2>NO response is added</h2>
        </div>
        </nz-content>
    </nz-layout>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
</nz-layout>
</nz-spin>