<nz-content>
  <div nz-row>
    <div nz-col nzSpan="20" nzOffset="2">
      <nz-breadcrumb nzSeparator=">">
        <nz-breadcrumb-item>
          <a>
            Home
          </a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a>Order managment</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          Order details
        </nz-breadcrumb-item>
      </nz-breadcrumb><br>
      <span>Order ID: #{{ orderId }}</span>
      <nz-steps nzType="navigation" nzSize="small" [nzCurrent]="index" (nzIndexChange)="onIndexChange($event)">
        <nz-step nzTitle="Confirm Order" [nzDisabled]="true" nzStatus="process"></nz-step>
        <nz-step nzTitle=" Payment" [nzDisabled]="true" nzStatus="wait"></nz-step>
        <nz-step nzTitle="Shipment" [nzDisabled]="true" nzStatus="wait"></nz-step>
        <nz-step nzTitle="Confirm Receipt" [nzDisabled]="true" nzStatus="wait"></nz-step>
      </nz-steps>
      <nz-card class="order-details-card" style="width:100%;">
        <div nz-row>
          <div nz-col [nzSpan]="16">
            <ng-container *ngIf="status == 'Order canceled'">
              <div class="order-status-details">
                <div nz-row>
                  <h4 nz-col [nzSpan]="5">Status:  </h4>
                  <span nz-col [nzOffset]="1" [nzSpan]="20" class="order-status"><strong>{{ status }}</strong></span>
                </div>
                </div>
            </ng-container>
            <ng-container *ngIf="status == 'Order Declined'">
              <div class="order-status-details">
                <div nz-row>
                  <h4 nz-col [nzSpan]="5">Status:  </h4>
                  <span nz-col [nzOffset]="1" [nzSpan]="20" class="order-status"><strong>{{ status }}</strong></span>
                </div>
                </div>
            </ng-container>
            <ng-container *ngIf="status === 'Completed'">
              <div class="order-status-details">
                <div nz-row>
                  <h4 nz-col [nzSpan]="5">Status: {{ status }} </h4>
                  <span nz-col [nzOffset]="1" [nzSpan]="20" class="order-status"><strong></strong></span>
                </div>
                </div>
            </ng-container>
            <ng-container *ngIf="status == 'Waiting for confirmation'">
              <div class="order-status-details">
                <div nz-row>
                  <h4 nz-col [nzSpan]="2">Status:  </h4>
                  <span nz-col [nzOffset]="1" [nzSpan]="20" class="order-status"><strong>{{ status }}</strong></span>
                </div>
                <div nz-row>
                  <h4 nz-col [nzSpan]="2"> Reminder: </h4>
                  <ul nz-col [nzOffset]="1" [nzSpan]="20" class="order-reminders">
                    <li>1. please complete your intial payment within ---- . Otherwise the supplier has the right to
                      cancel this
                      order directly.</li>
                    <li>2. If you are uncertain about the shipment method and shipping fee please contact the supplier
                      to confirm or
                      modify your order.</li>
                    <li>1. please complete your intial payment within ---- . Otherwise the supplier has the right to
                      cancel this
                      order directly.</li>
                    <li>2. If you are uncertain about the shipment method and shipping fee please contact the supplier
                      to confirm or
                      modify your order.</li>
                  </ul>
                </div>
                <div nz-row>
                  <div [nzOffset]="3" nz-col>
                    <button nz-button nzType="primary" (click)="acceptOrder()">Accept</button>
                  </div>
                  <div [nzOffset]="1" nz-col>
                    <button nz-button nzType="primary" (click)="declineOrder()">Decline</button>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="status === 'Waiting for initial payment'">
              <div class="order-status-details">
                <div nz-row>
                  <h4 nz-col [nzSpan]="2">Status:  </h4>
                  <span nz-col [nzOffset]="1" [nzSpan]="20" class="order-status"><strong>{{ status }}</strong></span>
                </div>
                <div nz-row>
                  <h4 nz-col [nzSpan]="2"> Reminder: </h4>
                  <ul nz-col [nzOffset]="1" [nzSpan]="20" class="order-reminders">
                    <li>1. please complete your intial payment within ---- . Otherwise the supplier has the right to
                      cancel this
                      order directly.</li>
                    <li>2. If you are uncertain about the shipment method and shipping fee please contact the supplier
                      to confirm or
                      modify your order.</li>
                    <li>1. please complete your intial payment within ---- . Otherwise the supplier has the right to
                      cancel this
                      order directly.</li>
                    <li>2. If you are uncertain about the shipment method and shipping fee please contact the supplier
                      to confirm or
                      modify your order.</li>
                  </ul>
                </div>
                <div nz-row>
                  <!-- <div [nzOffset]="3" nz-col>
                    <button nz-button nzType="primary" routerLink="/payment" routerLinkActive="active">Pay Intital
                      Payment</button>
                  </div>
                  <div [nzOffset]="1" nz-col>
                    <button nz-button nzType="primary" routerLink="/orders" routerLinkActive="active">Cancel</button>
                  </div> -->
                </div>
              </div>
            </ng-container>
            <!-- <ng-container #orderStatusWaitingForFinalPayment>
              <div class="order-status-details">
                <div nz-row>
                  <h4 nz-col [nzSpan]="2">Status: {{ status }} </h4>
                  <span nz-col [nzOffset]="1" [nzSpan]="20" class="order-status"><strong>Waiting for final payment</strong></span>
                </div>
                <div nz-row>
                  <h4 nz-col [nzSpan]="2"> Reminder: </h4>
                  <ul nz-col [nzOffset]="1" [nzSpan]="20" class="order-reminders">
                    <li>1. please complete your intial payment within ---- . Otherwise the supplier has the right to cancel this
                      order directly.</li>
                    <li>2. If you are uncertain about the shipment method and shipping fee please contact the supplier to confirm or
                      modify your order.</li>
                    <li>1. please complete your intial payment within ---- . Otherwise the supplier has the right to cancel this
                      order directly.</li>
                    <li>2. If you are uncertain about the shipment method and shipping fee please contact the supplier to confirm or
                      modify your order.</li>
                  </ul>
                </div>
                <div nz-row>
                  <div [nzOffset]="3" nz-col>
                    <button nz-button nzType="primary" routerLink="/orders" routerLinkActive="active">Pay the Balance</button>
                  </div>
                  <div [nzOffset]="1" nz-col>
                    <button nz-button nzType="primary" routerLink="/orders" routerLinkActive="active">Request Refund</button>
                  </div>
                </div>
              </div>
            </ng-container> -->
            <ng-container *ngIf="status === 'Waiting for shipment'">
              <div class="order-status-details">
                <div nz-row>
                  <h4 nz-col [nzSpan]="2">Status: {{ status }} </h4>
                  <span nz-col [nzOffset]="1" [nzSpan]="20" class="order-status"><strong>Waiting for supplier to ship
                      order</strong></span>
                </div>
                <div nz-row>
                  <h4 nz-col [nzSpan]="2"> Reminder: </h4>
                  <ul nz-col [nzOffset]="1" [nzSpan]="20" class="order-reminders">
                    <li>1. please complete your intial payment within ---- . Otherwise the supplier has the right to
                      cancel this
                      order directly.</li>
                    <li>2. If you are uncertain about the shipment method and shipping fee please contact the supplier
                      to confirm or
                      modify your order.</li>
                    <li>1. please complete your intial payment within ---- . Otherwise the supplier has the right to
                      cancel this
                      order directly.</li>
                    <li>2. If you are uncertain about the shipment method and shipping fee please contact the supplier
                      to confirm or
                      modify your order.</li>
                  </ul>
                </div>
                <div nz-row>
                  <div [nzOffset]="3" nz-col>
                    <button nz-button nzType="primary" routerLink="/orders" routerLinkActive="active">Request
                      Refund</button>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="status === 'Waiting for delivery confirmation'">
              <div class="order-status-details">
                <div nz-row>
                  <h4 nz-col [nzSpan]="2">Status: {{ status }} </h4>
                  <span nz-col [nzOffset]="1" [nzSpan]="20" class="order-status"><strong>Waiting for delivery
                      confirmation</strong></span>
                </div>
                <div nz-row>
                  <h4 nz-col [nzSpan]="2"> Reminder: </h4>
                  <ul nz-col [nzOffset]="1" [nzSpan]="20" class="order-reminders">
                    <li>1. please complete your intial payment within ---- . Otherwise the supplier has the right to
                      cancel this
                      order directly.</li>
                    <li>2. If you are uncertain about the shipment method and shipping fee please contact the supplier
                      to confirm or
                      modify your order.</li>
                    <li>1. please complete your intial payment within ---- . Otherwise the supplier has the right to
                      cancel this
                      order directly.</li>
                    <li>2. If you are uncertain about the shipment method and shipping fee please contact the supplier
                      to confirm or
                      modify your order.</li>
                  </ul>
                </div>
                <div nz-row>
                  <div [nzOffset]="3" nz-col>
                    <button nz-button nzType="primary" routerLink="/orders" routerLinkActive="active">Confirm
                      Delivery</button>
                  </div>
                  <div [nzOffset]="1" nz-col>
                    <button nz-button nzType="primary" routerLink="/orders" routerLinkActive="active">Request
                      Refund</button>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="status === 'Delivered'">
              <div class="order-status-details">
                <div nz-row>
                  <h4 nz-col [nzSpan]="2">Status: {{ status }} </h4>
                  <span nz-col [nzOffset]="1" [nzSpan]="20" class="order-status"><strong>Order
                      Delivered.</strong></span>
                </div>
                <div nz-row>
                  <h4 nz-col [nzSpan]="2"> Reminder: </h4>
                  <ul nz-col [nzOffset]="1" [nzSpan]="20" class="order-reminders">
                    <li>1. please complete your intial payment within ---- . Otherwise the supplier has the right to
                      cancel this
                      order directly.</li>
                    <li>2. If you are uncertain about the shipment method and shipping fee please contact the supplier
                      to confirm or
                      modify your order.</li>
                    <li>1. please complete your intial payment within ---- . Otherwise the supplier has the right to
                      cancel this
                      order directly.</li>
                    <li>2. If you are uncertain about the shipment method and shipping fee please contact the supplier
                      to confirm or
                      modify your order.</li>
                  </ul>

                </div>
                <div nz-row>
                  <div [nzOffset]="3" nz-col>
                    <button nz-button nzType="primary" routerLink="/orders" routerLinkActive="active">Close
                      Reciept</button>
                  </div>
                  <div [nzOffset]="1" nz-col>
                    <button nz-button nzType="primary" routerLink="/orders" routerLinkActive="active">Request
                      Refund</button>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <div nz-col [nzOffset]="1" [nzSpan]="7">
            <nz-card>
              <div nz-row class="order-details-left-card">
                <div nz-col><strong>Supplier</strong></div>
                <nz-divider></nz-divider>
                <div nz-col [nzOffset]="1" [nzSpan]="16">{{sellerUser?.firstName}} {{sellerUser?.mobile}}<br>
                </div>
              </div>
              <div nz-row class="order-details-left-card">
                <div nz-col><strong>Billing Information</strong> </div>
                <nz-divider></nz-divider>
                <div nz-col [nzOffset]="1" [nzSpan]="16"> {{currentOrder?.shippingAddress?.firstName}}<br>
                  {{currentOrder?.shippingAddress?.city}} {{currentOrder?.shippingAddress?.companyAddress1}}</div>
              </div>
              <div nz-row class="order-details-left-card">
                <div nz-col><strong>Shipping Information</strong> </div>
                <nz-divider></nz-divider>
                <div nz-col [nzOffset]="1" [nzSpan]="16"> {{currentOrder?.shippingAddress?.firstName}}<br>
                  {{currentOrder?.shippingAddress?.city}} {{currentOrder?.shippingAddress?.companyAddress1}}</div>
              </div>

            </nz-card>
          </div>
        </div>

      </nz-card>
      <nz-divider></nz-divider>
      <div class="order-details-tables">
        <h4 nz-typography>Order Details</h4>

        <nz-card class="contact-info">
          <div nz-row class="order-info">
            <span><strong>Order Id: </strong> {{ orderId}}</span>
            <span><strong>Order Date: </strong> 2020-12-16 11:48:34</span>

          </div>
          <div nz-row>
            <div nz-col nzSpan="12" class="supplier-contact-info">
              <h4><strong>Supplier:</strong></h4>
              <div class="info">
                <span>Name of the company: {{sellerUser?.companyName}}</span>
                <span>Contact Name: {{sellerUser?.firstName}}</span>
                <span>Registered company address: </span>
                <span>Company Tel: {{sellerUser?.mobile}}</span>
                <span>Company Email: {{sellerUser?.email}}</span>
              </div>
            </div>
            <div nz-col nzSpan="12" class="buyer-contact-info">
              <h4><strong>Buyer:</strong></h4>
              <div class="info">
                <span>Name of the company: {{currentOrder?.shippingAddress?.companyName}}</span>
                <span>Contact Name:{{currentOrder?.shippingAddress?.firstName}} </span>
                <span>Registered company address: {{currentOrder?.shippingAddress?.companyAddress1}}</span>
                <span>Company Tel: {{currentOrder?.shippingAddress?.phoneNumber1}}</span>
                <span>Company Email: --</span>
              </div>

            </div>
          </div>

        </nz-card>
        <div class="items-list">
          <div nz-row>
            <div nz-col nzSpan="8">
              <h4>Product Details</h4>
            </div>
            <div nz-col nzOffset="8" nzSpan="8" class="align-right">
              <!-- <button nz-button nzType="default" routerLink="/orders" routerLinkActive="active">Repurchase</button> -->
            </div>
          </div>

          <nz-table #basicTable [nzData]="listOfData" [nzFrontPagination]="false">
            <thead>
              <tr>
                <th>No</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data">
                <td>{{ basicTable.data.indexOf(data) + 1 }}</td>
                <td>
                  <div nz-row>
                    <div nz-col nzSpan="4">
                      <img class="product-img" src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png">

                    </div>
                    <div nz-col nzSpan="20">
                      <div> {{ data.productName }}</div>
                      <span>color: {{data.additionalProductInfo[0]}} </span>&nbsp;&nbsp;&nbsp;<span> Size:
                        {{data.additionalProductInfo[1]}}</span>
                    </div>
                  </div>
                </td>
                <td>{{data.additionalProductInfo[2]}}</td>
                <td>{{ data.price}}</td>
                <td>{{ (data.price*data.additionalProductInfo[2])}}</td>

              </tr>
            </tbody>
          </nz-table>
        </div>
        <div class="shipment-summary">
          <h4>Shipment Terms</h4>
          <nz-table #basicTable [nzData]="listOfData" [nzFrontPagination]="false">
            <thead>
              <tr>
                <th>shipment Method</th>
                <th>Shipment Date</th>
                <th>Shipping from</th>
                <th>Estimated Delivery Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

              </tr>
            </tbody>
          </nz-table>

        </div>
        <div class="payment-summary">
          <div nz-row>
            <div nz-col nzOffset="16" nzSpan="8">
              <h4><strong>Payment Method: </strong> </h4>
              <nz-divider></nz-divider>
              <div nz-row>
                <div nz-col nzSpan="8">Retail Price: </div>
                <div nz-col class="align-right" nzOffset="8" nzSpan="8">{{subTotal }} Birr</div>
              </div>
              <div nz-row>
                <div nz-col nzSpan="8">Sub Total: </div>
                <div nz-col nzOffset="8" nzSpan="8" class="align-right">{{(subTotal*0.15).toFixed(2)}} Birr</div>
              </div>
              <div nz-row>
                <div nz-col nzSpan="8">Shipping Fee: </div>
                <div nz-col nzOffset="8" nzSpan="8" class="align-right"> -- </div>
              </div>
              <div nz-row>
                <div nz-col nzSpan="8">Discount</div>
                <div nz-col nzOffset="8" nzSpan="8" class="align-right">--</div>
              </div>
              <nz-divider></nz-divider>
              <div nz-row>
                <div nz-col nzSpan="8"><strong>Total: </strong></div>
                <div nz-col nzOffset="8" nzSpan="8" class="align-right"><strong>{{((subTotal*0.15) +
                    subTotal).toFixed(2) }}Birr</strong></div>
              </div>
              <nz-divider></nz-divider>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</nz-content>